snippet dit
	describe('', () => {
        it('', () => {

				});
    });

snippet it
	it('', () => {
	});

snippet fun
	const ${1:name} = (${2:param}: ${3:type}): ${4:type} => {
	};

snippet typ 
	type ${1:name} = {
	${2:name}: ${3:type}
 };

snippet cop
	/**
 * Copyright (C) 2024 Arm Limited
 */


